<form action="/" method="POST">
    <br><label>Поиск по значению поля</label><br>
    <label> Значение <input name="value" type="text"> </label><br>
    <label> Какая эта колонка?</label>
    <select name="action3">
        <option value="db_nickname">Никнейм</option>
        <option value="db_name">Имя</option>
        <option value="db_surname">Фамилия</option>
        <option value="db_age">Возраст</option>
    </select>
    <button>Кнопочка</button>
</form>
<style>
    label {
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: 700;
        color: black;
    }
</style>